.correct {
    color: green;
}

.wrong {
    color: red;
}

.default {
    color: grey;
}

.no-border {
    border-color: transparent;
}

.text {
    font-size: 16px;
}

.sub-text {
    font-size: 14px;
}

.mini-text {
    font-size: 10px;
}

.question-font {
    font-size: 23px;
    font-weight: 400;
}

.w-90 {
    width: 90% !important;
}

.w-80 {
    width: 80% !important;
}

.w-70 {
    width: 70% !important;
}

.w-60 {
    width: 60% !important;
}

.w-40 {
    width: 40% !important;
}

.ml--10 {
    margin-left: -10%;
}

.ml--2 {
    margin-left: -2%;
}

.ml-13 {
    margin-left: 13%;
}

.mr-2 {
    margin-right: 2% !important;
}

.clickable {
    cursor: pointer;
}

.required:after {
    content:"*";
    color: red;
}